<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>CsED</title>
    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type="module" src="{{ url_for('static', filename='js/sort.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/actors.js') }}" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
</head>

<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">Codecool Series DB</span>
        <div id="header-auth">
            <button type="button" id="bt-register">Register</button>
            <button type="button" id="bt-login">Login</button>
        </div>
    </header>
    {% block body %}
        <section>
            <div class="card detailed-view">
                {% for show in shows %}
                    <div class="row">
                        <video src="{{ show['trailer'] }}" class="poster col col-third" controls></video>
                        <div class="col col-twothird">
                            <h2>{{ show.title }}</h2>
                            <p class="small grayed">
                                {% if show['runtime'] // 60 != 0 %}
                                    {{ show['runtime'] // 60 }}h
                                {% endif %}
                                {% if show['runtime'] % 60 != 0 %}
                                    {{ show['runtime'] % 60 }}min
                                {% endif %}
                                <span class="separator">|</span>{{ show.genres }}</p>
                            <p>{{ show.overview }}</p>
                        </div>
                    </div>
                    <div>
                    <p><b>Rating:</b>&nbsp;{{ show.rating }} ☆</p>
                {% endfor %}
                <p><b>Stars:</b>&nbsp;{{ characters }}</p>
                </div>
            </div>
        </section>
        <section>
            <h1 class="title text-center">Seasons</h1>
            <div class="card">
                <table>
                    <thead>
                    <tr>
                        <th>&nbsp</th>
                        <th>Title</th>
                        <th class="action-column">Overview</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for season in seasons %}
                        <tr>
                            <td>{{ season['season_number'] }}</td>
                            <td>{{ season['title'] }}</td>
                            {% if season.overview %}
                                <td>{{ season['overview'] }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </section>
    {% endblock %}
    <footer>
        Copyright, bla-bla
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/embed-youtube.js') }}"></script>
</body>
</html>
