<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="solid">
        <thead>
            <tr>
                <th>Seasons Title</th>
                <th>Episodes Title</th>
                <th>Overview</th>
            </tr>
        </thead>
        <tbody>
                {% for season in seasons %}
            <tr>
                    <td>{{ season['seasonstitle'] }}</td>
                    <td>{{ season['episodestitle'] }}</td>
                    <td>{{ season['overview'] }}</td>

            </tr>
                {% endfor %}
        </tbody>

    </table>
</body>
</html>