<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <form class="form-container" action="{{ url_for('input') }}" method="POST">
        <div class="container-logging">
            <div class="logging-item">
                <p>Date from:&nbsp; <input type="date" name="date_from"></p>
            </div>
            <div class="logging-item">
                <p>Date to:&nbsp; <input type="date" name="date_to"></p>
            </div>
            <div class="logging-item">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <ul>
        {% for show in shows_from_to %}
            <li>{{ show.title }}</li>
        {% endfor %}
    </ul>
</section>
</body>
</html>